.head1{
  color: pink;
  font-family: 'Akronim', cursive;
}
.head2 {
  color: skyblue;
}
.header3 {
  color: green;
}
.header2 {
  color: purple;
  font-family: 'Gugi', cursive;
}
.header1 {
  color: skyblue;
  font-family: 'Gugi', cursive;
}
.btn {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
  font-family: 'Modak', cursive;
  color: blue;
  margin-left: 45%;
}
