.head1{
  color: pink;
  font-family: 'Akronim', cursive;
}
.head2 {
  color: skyblue;
}
.header3 {
  color: green;
}
.header2 {
  color: purple;
  font-family: 'Gugi', cursive;
}
.header1 {
  color: skyblue;
  font-family: 'Gugi', cursive;
}
.btn {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
  font-family: 'Modak', cursive;
  color: blue;
  margin-left: 45%;
}
.Reset{
  background-color: skyblue;
  font-family: 'Russo One', sans-serif;
  color: red;
}
.rules {
  margin: 20px;
  padding: 20px;
  background-color: blue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
.add{
  margin: 20px;
  padding: 20px;
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
  margin-left: 20%;
  color: white;
  font-family: 'Akronim', cursive;
}
.roller{
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
.holder{
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
.roller2{
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
.holder2{
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
.column {
  margin-left: 20%;
}
.row {
  display: flex;
  flex-direction: row;
}
